@model  RealEstateOffice.Models.Agent

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutAgent.cshtml";
}

<h2>Profil</h2>

@using (Html.BeginForm("Profile", "Agent", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.agent_id)

        @Html.Label("Emlakçı Adı Soyadı")
        @Html.TextBoxFor(x => x.agent_name_surname, new { @required = "required", @class = "form-control" })
        <br /> <br />
        @Html.Label("Emlakçı Kullanıcı Adı")
        @Html.TextBoxFor(x => x.agent_username, new { @required = "required", @class = "form-control" })
        <br /> <br />
        @Html.Label("Emlakçı Şifresi")
        @Html.TextBoxFor(x => x.agent_password, new { @required = "required", @class = "form-control" })
        <br /> <br />
        @Html.Label("Emlakçı Firma Adı")
        @Html.TextBoxFor(x => x.agent_company_name, new { @required = "required", @class = "form-control" })
        <br /> <br />
        @Html.Label("Emlakçı Firma Maili")
        @Html.TextBoxFor(x => x.agent_company_mail, new { @required = "required", @class = "form-control" })
        <br /> <br />
        @Html.Label("Emlakçı Firma Adresi")
        @Html.TextBoxFor(x => x.agent_company_address, new { @required = "required", @class = "form-control" })
        <br /> <br />
        @Html.Label("Emlakçı Firma Telefonu")
        @Html.TextBoxFor(x => x.agent_company_phone, new { @required = "required", @class = "form-control" })
        <br /> <br />
        <button class="btn btn-info" id="btn1">Güncelle</button>
    </div>
}

<script>
    $('#btn1').click(function () {
        alert('Profil Güncelleme İşlemi Yapıldı!');
    });
</script>