@model RealEstateOffice.Models.Admin

@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Admin Ekle</h2>

@using (Html.BeginForm("AddAdmin", "Admin", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Admin Kullanıcı Adı")
        @Html.TextBoxFor(x => x.admin_name_surname, new { @required = "required", @class = "form-control" })
        <br /> <br />
        @Html.Label("Admin Şifresi")
        @Html.TextBoxFor(x => x.admin_password, new { @required = "required", @class = "form-control" })
        <br /> <br />
        @Html.Label("Admin Adı Soyadı")
        @Html.TextBoxFor(x => x.admin_name_surname, new { @required = "required", @class = "form-control" })
        <br /> <br />
        @Html.Label("Admin Maili")
        @Html.TextBoxFor(x => x.admin_mail, new { @required = "required", @class = "form-control" })
        <br /> <br />
        <button class="btn btn-info" id="btn1">Kaydet</button>
    </div>
}

<script>
    $('#btn1').click(function () {
        alert('Admin Ekleme İşlemi Yapıldı!');
    });
</script>