@model IEnumerable<RealEstateOffice.Models.Agent>

@{
    ViewBag.Title = "AgentList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Emlakçılar</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Emlakçı Adı Soyadı</th>
        <th>Emlakçı Kullanıcı Adı</th>
        <th>Emlakçı Firma Adı</th>
        <th>Emlakçı Firma Mail</th>
        <th>Emlakçı Firma Adresi</th>
        <th>Emlakçı Firma Telefonu</th>
        <th>Emlakçı Üyeliği Sil</th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.agent_id</td>
        <td>@item.agent_name_surname</td>
        <td>@item.agent_username</td>
        <td>@item.agent_company_name</td>
        <td>@item.agent_company_mail</td>
        <td>@item.agent_company_address</td>
        <td>@item.agent_company_phone</td>
        <td><a href="/Admin/DeleteAgent/@item.agent_id" class="btn btn-danger" id="btn1">Üyeliği Sil</a></td>
    </tr>
    }
</table>

<script>
        $('#btn1').click(function () {
            alert('Emlakçı Silme İşlemi Yapıldı!');
        });
</script>